ur{% extends "lab_10/layout/base.html" %}

{% block content %}
<style>
.container2 {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

</style>
<div class="row" style="color: white">
    <h2 align="center"> {{ movie.title}} ({{movie.year}})</h2>
    <div class="container   container2">
      <img src="{{movie.poster}}" style="display: block;margin: 0 auto">
      <div class="middle">
        <div class="box">
            {% if added %}
            <button class="btn btn-warning"> Added to Watch Later </button>
            {% else %}
            <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
            {% endif%}
        </div>
      </div>
    </div>
    <h4 align="center">Written by {{ movie.writer }} </h4>
    <h4 align="center">Directed by {{ movie.director }} </h4>
    <h4 align="center">{{ movie.country }}</h4>
    <h4 align="center">{{movie.actors}} </h4>
    <h4 align="center" style="color: lightblue">{{ movie.plot }} </h4>

</div>
{% endblock %}
