 {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <img src="http://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/c239.0.601.601/14624292_1763721643879026_6562143169914339328_n.jpg" alt="my-image" style="border-radius: 50%; width: 200px; height: 200px; display: block;margin: 0 auto" />
    <hr/>
    <section name="bio" style="color: white">
        <div style="float: left;width: 50%">
            <h2 style="background-color: rgba(0,0,0,0.3); width: 325px">What can you do here?</h2>
            <p style="background-color: rgba(0,0,0,0.3);width: 300px">
                {{content}}
            </p>  
        </div> 
        <div style="float: right;width: 50%">
            <h2 style="background-color: rgba(0,0,0,0.3);width: 300px">This is a little bit of me</h2>
            <ul style="background-color: rgba(0,0,0,0.3);width: 425px">
                {% for ii in about_me %}
                <li> {{ ii }} </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <hr style="clear: both;">
    <section name="form" style="color: white">
        <h2>Send Me a Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
