{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center;margin-top: 120px;color: white">Hai semua, berikut adalah catatan harianku</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center;margin-left: 330px">
            <tr>
                <th align="center" style="color: white">Tanggal</th>
                <th align="center" style="color: white">Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date" style="color: white">{{ diary_data.date }}</td>
                    <td class="activity" style="color: white">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table border="1px white">
                <tr>
                    <td align="center" style="color: white">
                        Tanggal
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="color: white">
                        Kegiatan
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success" style="background-color: black; border-color: gray;margin-top: 5px">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
