{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 10">
    <meta name="author" content="{{author}}">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Jquery dataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.datatables.min.css" rel="stylesheet">
    <style>
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    </style>
    <title>
        {% block title %} Lab 10 By {{author}} {% endblock %}
    </title>
</head>
<body style="background-color: black">
<header>
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #46608c; border: 4px solid #0d4096">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-10:index' %}" style="color: black"><img src="http://grownskis.com/wp-content/uploads/2013/11/G.png" style="height: 25px; width: 35px"> GANDOL</a>
    </div>
    {% if login %}
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li>
          <a id="logout" href="{% url 'lab-10:auth_logout' %}" onclick="return confirm('Keluar?)" style="color: black; ">Logout</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
    {% endif %}
  </div>
</nav>
</header>
<content>
    <div class="container" style="padding-top: 5%">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages" style="color: white ">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;color: white">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
<footer>
    <hr>
    {% block footer %}

    <h3 style="text-align:center">
        <small><em> Tontonlah film di Bioskop jangan di GANDOL.com </em></small>
    </h3>
    <!-- Your Footer Here -->
    {% endblock %}
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- JQuery dataTables Script -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<!-- Jquery n Bootstrap Script -->
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
