<!-- templates/lab_7/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #3b5998">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-8:index' %}" style="color: white"><img src="https://www.eastdunbarton.gov.uk/sites/default/files/P.png" style="height: 25px; width: 25px"> PESBUK</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li>
          <a id="logout" href="javascript:void(0)" onclick="facebookLogout()" style="color: white; ">Logout</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>